/*@media (max-width: 1200px) {
	
	header {
	    margin-bottom: 120px;
	}

	header .logo {
	    padding-top: 30px;
	}
	header .hero-text {
	    margin-top: 60px;
	}
	header .banner_body_text {
	    margin-top: 60px;
	}

	.contact_section {
    	margin-bottom: 100px;
	}

.review,
.monitor,
.industry,
.stream,
.websites {
    margin-bottom: 100px;
}

.review h1,
.monitor h1,
.industry h1,
.stream h1,
.websites h1{
    margin-bottom: 10px;
}

.review_boxes .box{
    margin-left: 90px;
}

.review_boxes .first-row {
    margin-bottom: 80px;
}


.app-screen {
    margin-bottom: 100px;
}
.app-screen .arrow1{
    margin-left: 38%;
    margin-bottom: 30px;
}

.app-screen p{
    font-size: 16px;
}

.app-screen .arrow2{
    margin-left: -20%;
    margin-bottom: 30px;
}

.arrow1 img,
.arrow2 img,
.arrow3 img {
	max-width: 60px !important;
}

.arrow3 img {margin: 0 auto;display: block;}

.industry h1 {
    font-size: 27px;
}


.monitor .heading, 
.stream .heading {
    margin-bottom: 80px;
}



.lamppost {
	top: 13.7%;
}

.curve_shape1{
    top: 43%;
}
.curve_shape2 {
    top: 75%;
}

}

@media (max-width: 992px) {
		
	header {
	    margin-bottom: 100px;
	    background: none;
	}

	header .logo {
	    padding-top: 30px;
	}
	header .hero-text {
	    margin-top: 60px;
	}
	header .banner_body_text {
	    margin-top: 60px;
	}

	.contact_section {
    	margin-bottom: 100px;
	}
	
.contact_section form{
    width: 90%;
}

.review,
.monitor,
.industry,
.stream,
.websites {
    margin-bottom: 100px;
}

.review h1,
.monitor h1,
.industry h1,
.stream h1,
.websites h1{
    margin-bottom: 10px;
}

.review_boxes .box{
    margin-left: 20px;
}

.review_boxes .first-row {
    margin-bottom: 80px;
}


.app-screen {
    margin-bottom: 100px;
}
.app-screen .arrow1{
    margin-left: 38%;
    margin-bottom: 30px;
}

.app-screen p{
    font-size: 16px;
}

.app-screen .arrow2{
    margin-left: -20%;
    margin-bottom: 30px;
}

.arrow1 img,
.arrow2 img,
.arrow3 img {
	max-width: 60px !important;
}

.arrow3 img {margin: 0 auto;display: block;}

.industry h1 {
    font-size: 27px;
}


.monitor .heading, 
.stream .heading {
    margin-bottom: 80px;
}*/

@media (max-width: 1200px) {
	
	header {
	    margin-bottom: 120px;
	}

	header .logo {
	    padding-top: 30px;
	}
	header .hero-text {
	    margin-top: 60px;
	}
	header .banner_body_text {
	    margin-top: 60px;
	}

	.contact_section {
    	margin-bottom: 100px;
	}

	.review,
	.monitor,
	.industry,
	.stream,
	.websites {
	    margin-bottom: 100px;
	}

	.review h1,
	.monitor h1,
	.industry h1,
	.stream h1,
	.websites h1{
	    margin-bottom: 10px;
	}

	.review_boxes .box{
	    margin-left: 90px;
	}

	.review_boxes .first-row {
	    margin-bottom: 80px;
	}


	.app-screen {
	    margin-bottom: 100px;
	}
	.app-screen .arrow1{
	    margin-left: 58%;
	    margin-bottom: 30px;
	}

	.app-screen p{
	    font-size: 16px;
	}

	.app-screen .arrow2{
	    margin-left: -20%;
	    margin-bottom: 30px;
	}

	.arrow1 img,
	.arrow2 img,
	.arrow3 img {
		max-width: 60px !important;
	}

	.arrow3 img {margin: 0 auto;display: block;}

	.industry h1 {
	    font-size: 27px;
	}


	.monitor .heading, 
	.stream .heading {
	    margin-bottom: 80px;
	}

	.lamppost {
		top: 13.7%;
	}

	.curve_shape1{
	    top: 43%;
	}
	.curve_shape2 {
	    top: 75%;
	}

}

@media (max-width: 992px) {
		
	header {
	    margin-bottom: 100px;
	    background: none;
	}

	header .logo {
	    padding-top: 30px;
	}
	header .hero-text {
	    margin-top: 60px;
	}
	header .banner_body_text {
	    margin-top: 60px;
	}

	.contact_section {
    	margin-bottom: 100px;
	}
	
	.contact_section form{
	    width: 90%;
	}

	.review,
	.monitor,
	.industry,
	.stream,
	.websites {
	    margin-bottom: 100px;
	}

	.review h1,
	.monitor h1,
	.industry h1,
	.stream h1,
	.websites h1{
	    margin-bottom: 10px;
	}

	.review_boxes .box{
	    margin-left: 20px;
	}

	.review_boxes .first-row {
	    margin-bottom: 80px;
	}


	.app-screen {
	    margin-bottom: 100px;
	}

	.app-screen .arrow1{
	    margin-left: 70%;
	    transform: rotate(-62deg);
	    margin-bottom: 20px;
	}

	.app-screen p{
	    font-size: 16px;
	    text-align: center;
	}

	.app-screen .arrow2{
	    margin-left: -20%;
	    transform: rotate(117deg);
	    margin-bottom: 30px;
	}

	.arrow1 img,
	.arrow2 img,
	.arrow3 img {
		max-width: 60px !important;
	}

	.arrow3 img {margin: 0 auto;display: block;}

	.industry h1 {
	    font-size: 27px;
	}


	.monitor .heading, 
	.stream .heading {
	    margin-bottom: 80px;
	}

	.review_boxes .box.email {	
	margin-right: 0;
	}


	.app-screen p{
	    text-align: center;
	    font-size: 16px;
	    margin-bottom: 30px;
	    margin-left: 0;
	}

	.app-screen .review_preview {
	    margin-bottom: 30px;
	    text-align: center;
	}

	.arrow3 {
	    margin-bottom: 30px;
	}

	.arrow3 img {
	    transform: rotate(90deg);
	}

	.app-screen .review_complete,
	.monitor_body_text {
	    text-align: center;
	}

	.stream .stream_body_text {
		margin-left: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.stream .stream_body_text p {
    font-size: 14px;
}
	.highlight {
    font-size: 18px;
}

	.lamppost {top:10%;}

	.curve_shape1{
	    top: 44.5%;
	}
	.curve_shape2 {
	    top: 73%;
	}
}

@media (max-width: 768px) {
	header {
	text-align: center;
	}

	header .logo {
	    margin-right: 0;
	}
	header .hero-text {
	    margin-top: 60px;
	}
	header .banner_body_text {
	    margin-top: 60px;
	}

	
	header .hero-text h1{
	    font-size: 38px;
	}
	header .hero-text p{
	    font-size: 18px;
	}
	header .banner_body_text {
	    margin-top: 70px;
	}

	header .copy, 
	.monitor .copy {
	    margin-top: 40px;
	}

	.monitor .copy:first-child {
	    margin-top: 0;
	}

	header .banner_body_text h2,
	.monitor .monitor_body_text h2{
	    font-size: 22px;
	    margin-bottom: 5px;
	}
	header .banner_body_text p,
	.monitor .monitor_body_text p{
	    font-size: 14px;
	}

	.contact_section {
    	margin-bottom: 100px;
	}
	
	.contact_section form{
	    width: 90%;
	}

	.review,
	.monitor,
	.industry,
	.stream,
	.websites {
	    margin-bottom: 100px;
	}

	.review h1,
	.monitor h1,
	.industry h1,
	.stream h1,
	.websites h1{
	    margin-bottom: 5px;
	    font-size: 26px;
	}


	.review p,
	.industry p,
	.stream p,
	.websites p {
	    font-size: 13px;
	}

	.review_boxes .box{
	    margin-left: 12px;
	}

	.review_boxes .first-row {
	    margin-bottom: 80px;
	}


	.app-screen {
	    margin-bottom: 100px;
	}

	.app-screen .arrow1{
	    margin-left: 65%;
	    transform: rotate(-62deg);
	    margin-bottom: 20px;
	}

	.app-screen p{
	    font-size: 16px;
	    text-align: center;
	}

	.app-screen .arrow2{
	    margin-left: -25%;
	    transform: rotate(117deg);
	    margin-bottom: 30px;
	}

	.arrow1 img,
	.arrow2 img,
	.arrow3 img {
		max-width: 60px !important;
	}

	.arrow3 img {margin: 0 auto;display: block;}

	.industry h1 {
	    font-size: 22px;
	    margin-bottom: 10px;
	}

	
	.service {
    margin-top: 60px;
}


	.monitor .heading, 
	.stream .heading {
	    margin-bottom: 50px;
	}

	.review_boxes .box.email {	
	margin-right: 0;
	}


	.app-screen p{
	    font-size: 13px;
	}

	.app-screen .review_preview {
	    margin-bottom: 30px;
	    text-align: center;
	}

	.arrow3 {
	    margin-bottom: 30px;
	}

	.arrow3 img {
	    transform: rotate(90deg);
	}

	.app-screen .review_complete,
	.monitor_body_text {
	    text-align: center;
	}

	.stream .stream_body_text {
		margin-left: 0;
		text-align: center;
		margin-bottom: 20px;
	}

	.image_row {
    margin-bottom: 0;
}
	.images_col {
    margin-bottom: 50px;
}
	.images_col img {
    width: 90%;
}

	.lamppost {top:11%;}

	.curve_shape1{
	    top: 42.5%;
	}
	.curve_shape2 {
	    top: 75%;
	}
}

@media (max-width: 576px) {
	header {
	text-align: center;
	margin-bottom: 80px;
	}

	header .logo {
	    margin-right: 0;
	}
	header .hero-text {
	    margin-top: 40px;
	}
	header .banner_body_text {
	    margin-top: 60px;
	}

	
	header .hero-text h1{
	    font-size: 28px;
	}
	header .hero-text p{
	    font-size: 15px;
	}
	header .banner_body_text {
	    margin-top: 50px;
	}

	header .copy, 
	.monitor .copy {
	    margin-top: 40px;
	}

	.monitor .copy:first-child {
	    margin-top: 0;
	}

	header .banner_body_text h2,
	.monitor .monitor_body_text h2{
	    font-size: 17px;
	    margin-bottom: 5px;
	}
	header .banner_body_text p,
	.monitor .monitor_body_text p{
	    font-size: 12px;
	}

	.contact_section {
    	margin-bottom: 80px;
 }
	
	.contact_section form{
	    width: 100%;
	}

	.review,
	.monitor,
	.industry,
	.stream,
	.websites {
	    margin-bottom: 60px;
	}

	.review h1,
	.monitor h1,
	.industry h1,
	.stream h1,
	.websites h1{
	    margin-bottom: 5px;
	    font-size: 22px;
	}


	.review p,
	.industry p,
	.stream p,
	.websites p {
	    font-size: 13px;
	}

	.review_boxes .box{
	    margin-left: 12px;
	    margin: 0 auto;
	    margin-bottom: 30px;
	}

	.review_boxes .first-row {
	    margin-bottom: 30px;
	}


	.app-screen {
	    margin-bottom: 100px;
	}

	.app-screen .arrow1{
	    transform: rotate(-90deg);
	    margin: 0 auto;
	    margin-bottom: 30px;
	}

	.app-screen p{
	    font-size: 16px;
	    text-align: center;
	}

	.app-screen .arrow2{
	    margin: 0 auto;
	    transform: rotate(90deg);
	    margin-bottom: 30px;
	}

	.arrow1 img,
	.arrow2 img,
	.arrow3 img {
		max-width: 60px !important;
	}

	.arrow3 img {margin: 0 auto;display: block;}

	.industry h1 {
	    font-size: 22px;
	    margin-bottom: 10px;
	}


	.monitor .heading, 
	.stream .heading {
	    margin-bottom: 50px;
	}

	.review_boxes .box.email {
	margin: 0 auto;
	}

	.review_boxes .box.kiosk {
    margin-top: 0;
}

	.app-screen p{
	    font-size: 13px;
	}

	.app-screen .review_preview {
	    margin-bottom: 30px;
	    text-align: center;
	}

	.arrow3 {
	    margin-bottom: 30px;
	}

	.arrow3 img {
	    transform: rotate(90deg);
	}

	.app-screen .review_complete,
	.monitor_body_text {
	    text-align: center;
	}

	.stream .stream_body_text {
		margin-left: 0;
		text-align: center;
		margin-bottom: 20px;
	}


	.contact_section input::placeholder {
	    font-size: 13px !important;
	}

	.image_row {
    margin-bottom: 0;
}
	.images_col {
    margin-bottom: 50px;
}
	.images_col img {
    width: 90%;
}

	.monitor_body_text {
		margin-top: 50px;
	}


	.lamppost,
	.curve_shape1,
	.curve_shape2 {
	    display: none;
	}
}